<div class="form-header">
    <%= form_with(model: product) do |form| %>
        <% if product.errors.any? %>
            <div style="color: red">
                <h3><%= pluralize(product.errors.count, "error") %> 
                prohibited this product from being saved:</h3>

            <ul>
                <% product.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-input" %>

        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-input" %>

        <%= form.label :image, class: "form-label" %>
        <%= form.text_field :image, class: "form-input" %>

        <%= form.label :price, class: "form-label" %>
        <%= form.text_field :price, class: "form-input" %>

        <%= form.label :category, class: "form-label" %>
        <%= form.text_field :category, class: "form-input" %>
        <div>
            <%= form.submit class: "btn btn-outline-primary"%>
        </div>
    <% end %>
</div>
